{% extends "layout.html" %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1>Books</h1>
      <a href="{% url 'book_new' %}" class="btn btn-primary">Create</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for book in book_titles %}
          <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
              <a href="{% url 'book_detail' book.id %}" class="btn btn-primary">Show</a>
              <a href="{% url 'book_edit' book.id %}" class="btn btn-primary">Edit</a>
              <form action="{% url 'book_delete' book.id %}" method="POST" style="display: inline-block;">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
```